section#catalog {
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #8574A3;
    overflow-y: scroll;

    .catalog_wrap {
        background-color: rgb(39, 39, 39);
        color: white;
        border-radius: 8px;
        width: 98%;
        max-width: 480px;
        margin-top: 5px;

        .thumb {
            height: 85px;
            width: 85px;
            margin: 5px;
            transition: scale .2s ease-in-out;

            &:hover {
                scale: 1.03;
            }

            .img_thumb {
                height: 85px;
                width: 85px;
                border-radius: 4px;
                object-fit: cover
            }
        }
    }

    .catalog_wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-items: center;
        grid-template-areas:
            ". . ."
            ". . ."
            ". . .";
    }

}