div#subtitle {
    background-color: #fff;
    height: 35px;
    margin-top: 5px;
    border-radius: 8px;
    text-align: center;
    min-width: 300px;
    max-width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}